* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button:hover {
  cursor: pointer;
}

ul[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

html {
  scroll-behavior: smooth !important;
}

body {
  scroll-behavior: smooth !important;
  background-color: #ffffff;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  position: relative;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.main {
  background-color: #292929;
}

.photo-main {
  margin: 0 auto;
  background-color: #292929;
  display: none;
}

.photo-main__container {
  transition: 0.3s ease-out;
  padding: 32px 44px;
}

.awards {
  margin: 0 44px;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  border: 4px solid #ebc680;
  border-radius: 35px;
  transition: 0.5s ease-out;
  overflow: hidden;
  position: relative;
  padding: 24px 20px;
}

.awards__main-title {
  font-size: 15px;
  line-height: 15px;
  color: #ebc680;
  margin-bottom: 12px;
}

.awards__title {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.award__ol {
  color: #ffffff;
}

.photo__item_1 {
  display: block;
  position: relative;
}

.photo__titles {
  margin-bottom: 28px;
}

.profiles {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 36px;
  margin-bottom: 72px;
}

.profiles__hr {
  margin-bottom: 16px;
  border-radius: 4px;
  object-fit: cover;
  background-position: center center;
  height: 4px;
  background-image: url(/static/images/dashed_line.svg);
}

.profiles__hr_orange {
  margin-bottom: 16px;
  border-radius: 6px;
  object-fit: cover;
  background-position: center center;
  height: 6px;
  background-image: url(/static/images/orange_line.svg);
}

.photo__title_1,
.photo__title_2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #ffffff;
}

.photo__title_2 {
  color: #ebc680;
}

.photo__title_2_content::after {
  content: "?";
  position: absolute;
  color: #ffffff;
}

.author__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 24px;
}

.author__inner {
  margin: 0;
  padding: 20px 24px;
}

.author__info_item {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}

.author__container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.img-above {
  z-index: 11;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  width: 170px;
  height: 110px;
}

.main__container {
  transition: 0.5s ease-out;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 0px;
}

.main__container_bottom {
  transition: 0.5s ease-out;
  height: 40vh;
}

.main__item {
  margin: 0 auto;
  margin-left: 44px;
  margin-right: 44px;
  transition: 0.5s ease-out;
  overflow: hidden;
  position: relative;
  background: #ffffff;
  border-radius: 40px;
  padding: 10px 10px 24px;
}

.main__item_img {
  height: 70px;
}
.main__item_bg {
  background-color: #ebc680;
}
.bg_1 {
  height: 67px;
  border-radius: 30px 30px 10px 10px;
}
.bg_2 {
  height: 67px;
  border-radius: 30px 30px 10px 10px;
}
.bg_3 {
  height: 67px;
  border-radius: 30px 30px 10px 10px;
}
.bg_4 {
  height: 67px;
  border-radius: 30px 30px 10px 10px;
}
.bg_5 {
  height: 67px;
  border-radius: 30px 30px 10px 10px;
}

.bg_5_2 {
  height: 67px;
  border-radius: 30px 30px 10px 10px;
}

.img_1 {
  background-repeat: no-repeat;
  background-position: center center;
  height: 67px;
  max-width: 100%;
  background-image: url(/static/images/bg_1.png);
}

.img_2 {
  background-repeat: no-repeat;
  background-position: center center;
  height: 67px;
  max-width: 100%;
  background-image: url(/static/images/bg_2.png);
}

.img_3 {
  background-repeat: no-repeat;
  background-position: center center;
  height: 67px;
  max-width: 100%;
  background-image: url(/static/images/bg_3.png);
}

.img_4 {
  background-repeat: no-repeat;
  background-position: center center;
  height: 67px;
  max-width: 100%;
  background-image: url(/static/images/bg_4.png);
}

.img_5 {
  background-repeat: no-repeat;
  background-position: center center;
  height: 67px;
  max-width: 100%;
  background-image: url(/static/images/bg_5.png);
}

.main__item_title {
  transition: 0.5s ease-out;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  width: fit-content;
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ffffff;
  background-color: #333333;
  border-radius: 30px;
  padding: 16px 28px;
}

.small-text {
  font-size: 10px;
}

.media-party {
  display: block;
  margin: 0 auto;
  width: 122px;
  height: 75px;
  margin-top: 8px;
}

.main__item_text {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  margin-top: 36px;
  color: rgba(0, 0, 0, 0.6);
}

.item_title_1 {
  top: 48px;
}

.item_title_2 {
  top: 48px;
}

.item_title_3 {
  top: 48px;
}

.item_title_4 {
  top: 48px;
}

.item_title_5 {
  top: 46px;
}

.item_text_1 {
  margin-top: 44px;
}

.item_text_2 {
  margin-top: 54px;
}

.item_text_3 {
  margin-top: 44px;
}

.item_text_4 {
  margin-top: 44px;
}

.item_text_5 {
  margin-top: 38px;
}

.photos {
  background-color: transparent;
  transition: 0.5s ease-out;
  margin-left: 44px;
  margin-right: 44px;
  padding: 0px 0px 44px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.photo__item {
  z-index: 11;
  width: 100%;
  max-width: 100%;
}

.above-screen {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.above-screen_hidden {
  display: none;
}

.main_hidden {
  display: none;
}

.pop-up {
  width: 100%;
  transition: 0.5s ease-out;
  max-width: 800px;
  padding: 0px 12px;
  margin: 0 auto;
  margin-top: 12px;
}

.pop-up_hidden {
  height: auto;
}

.solo__container {
  border-radius: 35px;
}

.main__item_solo {
  margin-top: 10px;
}

.arrow-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #292929;
  max-width: 125px;
}

.pop-up__inner {
  height: 42px;
  padding-top: 24px;

  transition: 0.5s ease-out;
  display: flex;

  justify-content: center;
  overflow: hidden;

  background: #292929;
  border-radius: 20px 20px 40px 40px;
}

.pop-up__inner_hidden {
  height: 42px;
  padding: 0;
}

.overflow-block {
  position: relative !important;
  z-index: 11 !important;
  background-color: #292929 !important;
  height: 125px !important;
  margin-top: -125px !important;
  box-shadow: 0px 4px 20px 8px #292929 !important;
}

.pop-up__inner_active {
  transition: 0.5s ease-out;
  height: calc(100vh - 134px);
  padding-bottom: 32px;
}

.pop-up__inner_no-radius {
  border-radius: 0;
  height: 100vh;
  padding-top: 36px;
}

.item_hidden {
  transition: 0.5s ease-out;
}

.section {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section__titles {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  row-gap: 8px;
  transition: 0.5s ease-out;
  color: #ffffff;
  margin: 0 44px;
  margin-bottom: 28px;
}

.section__titles_return {
  transform: translateY(44px);
}

.scroll {
  transition: 0.5s ease-out;
  height: 100vh;
}

#bg_5 {
  transition: 0.33s ease-out;
}

.bg_5_animation {
  border-radius: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  background-color: #ffffff;
  transition: 0.3s ease-out;
  position: absolute;
}

.colored-block {
  max-width: 600px;
  width: 100vw;
  margin-left: -44px;
  height: 48px;
  background: linear-gradient(#292929, #242525);
}

.colored-block-revers {
  max-width: 600px;
  width: 100vw;
  margin-left: -44px;
  height: 48px;
  background: linear-gradient(#242525, #292929);
}

.scroll-video {
  margin-top: 28px;
}

.scroll-video video {
  display: block;
  background-color: #242525;
  margin-left: -44px;
  width: calc(100% + 88px);
  object-fit: contain;
}

.main__item-scroll {
  border-radius: 40px;
  overflow: visible;
  padding: 10px 10px 28px;
}

.bg_5_active {
  background-color: transparent;
  transition: 0.3s ease-out;
  padding: 10px 10px 28px;
  margin: 0;
  border-radius: 40px 40px 0px 0px;
}

.bg_5_scroll {
  border-radius: 10px 10px 0px 0px;
  z-index: 5;
  position: relative;
  overflow: hidden;
  padding: 0px;
  background-color: #ffffff;
}

.photos_active {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 44px 44px;
  margin-top: -650px;
}

#bg_5_2 {
  margin: 0;
  margin-bottom: 48px;
  transition: 0.5s ease-out;
}

.statue {
  position: relative;
  z-index: 12;
  transition: 0.5s ease-out 0.3s;
  opacity: 0;
  width: 92px;
  height: 110px;
}

.photo-section__img {
  padding: 0px 10px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 12px;
}

.photo__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 12px;
}

.photo__description {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 18px;
}

.photo__description_info {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
}

.text-bottom_left {
  width: 80%;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #ffffff;
  font-style: italic;
}

.profile__content {
  display: flex;
  column-gap: 16px;
}

.profile__nickname {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 8px;
}

.profile__phone {
  position: relative;
  margin-top: 10px;
  font-style: italic;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
}

.profile__phone::before {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -1px;
  right: -30px;
  content: "";
  background-image: url(/static/images/telegram.svg);
}

.profile__phone::after {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -1px;
  right: -50px;
  content: "";
  background-image: url(/static/images/viber.svg);
}

.profile__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.profile__img {
  height: 100%;
  max-width: 60px;
  object-fit: cover;
}

.photo__info {
  align-items: center;
  display: flex;
  column-gap: 12px;
  margin-bottom: 28px;
}

.photo__line {
  width: 90px;
  height: 0px;
  border-radius: 3px;
  border: 3px solid #ebc680;
}

.photo__info_bottom {
  margin-top: 54px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.photo__line_top {
  width: 100%;
  text-align: right;
}

.photo__line_bottom {
  width: 80%;
  text-align: right;
}

.line-text {
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

.main__container_full-screen {
  margin: 0px;
  padding-bottom: 0px;
  transition: 0.5s ease-out;
}

.section__titles_full-screen {
  padding: 32px 44px 32px;
  margin: 0px;
  background-color: #ffffff;
}

.photos_full-screen {
  background-color: #ffffff;
  padding: 30px 44px 32px;
  margin: 0px;
}

.main-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 29px;
}

.second-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 13px;
  color: #ffffff;
}

.pop-up__content {
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-out;
  width: 100%;
  max-width: 336px;
}

.pop-up__content_hidden {
  margin-top: 24px;
}

.pop-up-titles {
  transition: 0.5s ease-out;
  white-space: nowrap;
  margin: 0 32px;
  margin-bottom: 12px;
}

.pop-up__title {
  position: relative;
  width: fit-content;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 32px;
  line-height: 27px;
  color: #ffffff;
}

.pop-up__title_right {
  vertical-align: top;
  margin-top: 6px;
  margin-left: 0px;
  color: #ffffff;
  font-weight: 400;
  font-size: 9px;
}

.arrows {
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.arrow-left {
  background-repeat: no-repeat;
  background-position: center center;
  width: 8px;
  height: 26px;
  background-image: url(/static/images/arrow-left.svg);
}

.arrow-center {
  background-repeat: no-repeat;
  background-position: center center;
  width: 8px;
  height: 43px;
  margin-left: 1px;
  margin-right: 6px;
  background-image: url(/static/images/arrow-center.svg);
}

.video {
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  margin: 0 auto;
  width: 256px;
  height: 270px;
  background-image: url(/static/images/main_img.svg);
}

.accents {
  transition: 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  margin-bottom: 28px;
}

.accent {
  color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  padding: 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 9px;
}

.accent-left {
  border-color: #e3c07d;
}

.accent-right {
  border-color: #e3c07d;
}

.pop-up-descriptions {
  transition: 0.2s ease-out;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 24px;
}

.pop-up-description {
  transition: 0.2s ease-out;
  margin: 0 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
}

.buy-ticket {
  display: flex;
  cursor: pointer;
  justify-content: center;
  transition: 0.5s ease-out;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  font-weight: 900;
  font-size: 11px;
  color: #ffffff;
  background: #e3c07d;
  box-shadow: 0px 0px 13px #ebc680;
  border-radius: 20px;
}

.buy-ticket:hover {
  box-shadow: none;
}

.button {
  width: calc(100vw - 24px);
  max-width: 400px;
  z-index: 3;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s ease-out;
}

.button::after {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
  top: -50px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  content: "18+";
}

.button__container {
  opacity: 0;
  visibility: hidden;
  margin: 0 44px;
  transition: 0.5s ease-out;
}

.button__container_active {
  margin-top: 36px;
  margin-bottom: 72px;
  opacity: 1;
  visibility: visible;
}

.flex-bottom {
  height: 130px;
}

.tabs {
  transition: 0.5s ease-out;
  z-index: 3;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  margin: 0 12px;
  min-height: 50px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 6px -2px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
}

.tabs__container {
  min-height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs__logo {
  padding: 8px 12px 8px 12px;
  font-weight: 900;
  font-size: 10px;
  line-height: 9px;
  color: #ffffff;
}

.tabs__items {
  width: 100%;
  column-gap: 8px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #292929;
  border-radius: 14px;
  font-weight: 600;
  font-size: 9px;
  color: rgba(255, 255, 255, 0.8);
}

.tabs__item {
  color: rgba(255, 255, 255, 0.8);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  border: 1px solid #ffffff;
  border-radius: 12px;
}

.tabs__item a {
  color: rgba(255, 255, 255, 0.8);
}

.sliders {
  width: 100vw;
  max-width: 600px;
  margin-left: -12px;
  margin-top: 80px;
}

.slide-line {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.first-line {
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  white-space: nowrap;
  margin-bottom: 4px;
  animation: LineAnimationFirst 22s linear infinite;
}

.second-line {
  font-weight: 700;
  font-size: 48px;
  line-height: 43px;
  white-space: nowrap;
  margin-bottom: 8px;
  animation: LineAnimationMain 13s linear infinite;
}

.third-line {
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  white-space: nowrap;
  animation: LineAnimationFirst 9s linear infinite;
}

.first-line::after {
  content: " MEDIA МЕДИА MEDIA MEДIA MEDIA МЕДИА MEDIA MEДIA MEDIA МЕДИА MEDIA MEДIA MEDIA МЕДИА MEDIA MEДIA";
}

.second-line::after {
  content: " PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY";
}

.third-line::after {
  content: " MINSK МИНСК МИНСК MINSK МИНСК MINSK МИНСК МИНСК MINSK МИНСК MINSK МИНСК МИНСК MINSK МИНСК MINSK МИНСК МИНСК MINSK МИНСК";
}

.button-return {
  opacity: 1;
  visibility: visible;
  display: block;
  transform: translateY(-80px);
}

.first-screen {
  z-index: -10;
  position: absolute;
  transition: 0.5s ease-out;
  max-width: 600px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 12px;
  margin: 0 auto;
  width: 100%;
}

.first-screen_hidden {
  display: none;
}

.pop-up-static {
  position: static;
}

.second-screen {
  width: 100%;
}

.second-screen_active {
  transform: translateY(0px);
  transition: 0.5s ease-out;
  min-height: 500px;
  background-color: #cf68ff;
}

.second-screen_hidden {
  transform: translateY(300px);
  transition: 0.5s ease-out;
  background-color: transparent;
  display: none;
}

.third-screen {
  width: 100%;
  height: 100vh;
  background-color: #e3c07d;
}

.wrapper_active {
  z-index: 10;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

@keyframes LineAnimationFirst {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes LineAnimationMain {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.swiper-vertical {
  touch-action: pan-y;
}

.swiper {
  transition: 0.5s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 276px;
  padding-bottom: calc(100vh - 480px);
}

.swiper-inner_active {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s ease-out;
}

.swiper-inner_hidden {
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.5s ease-out;
}

.swiper-wrapper {
  transition: 0.5s ease !important;
}

.swiper-slide {
  color: transparent;
  line-height: 19px;
  transition: 0.33s ease !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 9px;
}

.bg_5_container {
  z-index: 5;
  position: relative;
  transition: 0.5s ease-out;
}

.bg_5_container_active {
  transition: 0.5s ease-out;
  padding-top: 20px;
  background-color: #ffffff;
}

.main__container_bottom_active {
  transition: 0.5s ease-out;
  height: 0px;
  background-color: #ffffff;
}

.gallery-slide {
  color: #ffffff;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-swiper,
.main-swiper {
  height: 100vh;
}

.swiper-slide-active {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.swiper-slide-next {
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
}

.swiper-slide-next + .swiper-slide {
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  color: rgba(255, 255, 255, 0.25);
}

.pop-up_full-screen {
  top: 0;
  border-radius: 0;
  padding: 0;
  transition: 0.5s ease-out;
  margin-top: 0px;
}

.main-slide {
  margin-bottom: 0px;
}

.author__button {
  opacity: 1;
  visibility: visible;
  margin-top: 44px;
  margin-bottom: 12px;
}

.author__descriprion {
  max-width: 236px;
  margin: 0 auto;
  margin-bottom: 72px;
  text-align: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.author__director {
  margin-bottom: 8px;
}

.author__last-info {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 350px) {
  .pop-up__title {
    font-size: 28px;
  }
  .pop-up__title_right {
    font-size: 8px;
  }
}
