<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <title>Document</title>-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com" />-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />-->
<!--    <link-->
<!--      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@500;600;700;900&display=swap"-->
<!--      rel="stylesheet"-->
<!--    />-->

<!--    <link-->
<!--      rel="stylesheet"-->
<!--      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"-->
<!--    />-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}" />-->
<!--  </head>-->
<!--  <body>-->
<!--    <div class="container">-->
<!--      <div class="first-screen">-->
<!--        <div class="sliders">-->
<!--          <div class="slide-line">-->
<!--            <p class="first-line">-->
<!--              &nbspMEDIA МЕДИА MEDIA MEДIA MEDIA МЕДИА MEDIA MEДIA MEDIA МЕДИА-->
<!--              MEDIA MEДIA MEDIA МЕДИА MEDIA MEДIA-->
<!--            </p>-->
<!--          </div>-->
<!--          <div class="slide-line">-->
<!--            <p class="second-line">-->
<!--              &nbspPARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY-->
<!--              PARTY PARTY PARTY PARTY PARTY PARTY-->
<!--            </p>-->
<!--          </div>-->
<!--          <div class="slide-line">-->
<!--            <p class="third-line">-->
<!--              &nbspMINSK МИНСК МИНСК MINSK МИНСК MINSK МИНСК МИНСК MINSK МИНСК-->
<!--              MINSK МИНСК МИНСК MINSK МИНСК MINSK МИНСК МИНСК MINSK МИНСК-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="section">-->
<!--          <div class="arrows">-->
<!--            <div class="arrow-left"></div>-->
<!--            <div class="arrow-center"></div>-->
<!--          </div>-->
<!--          <div class="video"></div>-->
<!--          <div class="">-->
<!--            <div class="button">-->
<!--              <a href="#" class="buy-ticket">Купить билет</a>-->
<!--            </div>-->
<!--            <div class="tabs">-->
<!--              <div class="tabs__container">-->
<!--                <div class="tabs__logo">MEDIA<br />PARTY</div>-->
<!--                <ul class="tabs__items">-->
<!--                  <li class="tabs__item">-->
<!--                    <a href="#">Главная</a>-->
<!--                  </li>-->
<!--                  <li class="tabs__item">-->
<!--                    <a href="#">Что будет?</a>-->
<!--                  </li>-->
<!--                  <li class="tabs__item">-->
<!--                    <a href="#">Для кого?</a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="main-swiper">-->
<!--        <div class="swiper-wrapper main-wrapper">-->
<!--          <div class="swiper-slide main-slide">-->
<!--            <div class="pop-up">-->
<!--              <div class="pop-up__inner">-->
<!--                <div class="pop-up__content">-->
<!--                  <div class="flex-wrapper">-->
<!--                    <div class="pop-up-titles">-->
<!--                      <span class="pop-up__title">9 ИЮНЯ 2023</span>-->
<!--                      <span class="pop-up__title_right">Пятница</span>-->
<!--                    </div>-->

<!--                    <div class="accents">-->
<!--                      <div class="accent accent-left">-->
<!--                        event-пространство Бетон-->
<!--                      </div>-->
<!--                      <div class="accent accent-right">20:00 — 00:00</div>-->
<!--                    </div>-->

<!--                    <div class="smile-swiper smile-swiper_hidden">-->
<!--                      <div class="swiper-wrapper smile-wrapper">-->
<!--                        <div class="swiper-slide">-->
<!--                          <div class="slider__container">-->
<!--                            <img src="{{ url_for('static', filename='images/face.png') }}" alt="face" />-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                          <div class="slider__container">-->
<!--                            <img src="{{ url_for('static', filename='images/hand.png') }}" alt="face" />-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                          <div class="slider__container">-->
<!--                            &lt;!&ndash; <img src="/images/face.png" alt="face" /> &ndash;&gt;-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                          <div class="slider__container"></div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                          <div class="slider__container"></div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                          <div class="slider__container">-->
<!--                            &lt;!&ndash; <img src="/images/hand.png" alt="face" /> &ndash;&gt;-->
<!--                            <img src="{{ url_for('static', filename='images/face.png') }}" alt="face" />-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="swiper swiper-inner swiper-inner_hidden">-->
<!--                      <div class="swiper-wrapper">-->
<!--                        <div class="swiper-slide pop-up-description">-->
<!--                          Приветствуем вас на<br />вечеринке "StarStudded-->
<!--                          Night"<br />-->
<!--                          - событии, специально-->
<!--                        </div>-->
<!--                        <div class="swiper-slide pop-up-description">-->
<!--                          созданном для медийных личностей,<br />включая-->
<!--                          предпринимателей,<br />ведущих, артистов и блоггеров.-->
<!--                        </div>-->
<!--                        <div class="swiper-slide pop-up-description">-->
<!--                          Погрузитесь в мир гламура и<br />известности на самой-->
<!--                          горячей<br />-->
<!--                          вечеринке сезона!-->
<!--                        </div>-->
<!--                        <div class="swiper-slide pop-up-description">-->
<!--                          Приветствуем вас на вечеринке<br />"StarStudded Night"-->
<!--                          - событии,<br />-->
<!--                          специально-->
<!--                        </div>-->
<!--                        <div class="swiper-slide pop-up-description">-->
<!--                          созданном для медийных личностей,<br />включая-->
<!--                          предпринимателей,<br />-->
<!--                          ведущих, артистов и блоггеров.-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="flex-wrapper wrapper-to-change warapper_active">-->
<!--                    <div class="button__container item_hidden">-->
<!--                      <a href="#" class="buy-ticket">Купить билет</a>-->
<!--                    </div>-->
<!--                    <img-->
<!--                      class="smiles-img smiles_hidden"-->
<!--                      src="{{ url_for('static', filename='images/smiles.png') }}"-->
<!--                      alt="smiles"-->
<!--                    />-->
<!--                    <div class="section__titles">-->
<!--                      <p class="main-title">ЧТО БУДЕТ?</p>-->
<!--                      <p class="second-title">Это будет что-то!</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="swiper-slide main-slide">-->
<!--            <div class="second-screen second-screen_hidden">-->
<!--              <div class="gallery-swiper">-->
<!--                <div class="swiper-wrapper">-->
<!--                  <div class="swiper-slide gallery-slide">1</div>-->
<!--                  <div class="swiper-slide gallery-slide">2</div>-->
<!--                  <div class="swiper-slide gallery-slide">3</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="swiper-slide main-slide">-->
<!--            <div class="third-screen"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>-->

<!--    <script src="{{ url_for('static', filename='test.js') }}"></script>-->
<!--  </body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@500;600;700;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='test.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="first-screen">
        <div class="sliders">
          <div class="slide-line">
            <p class="first-line">
              &nbspMEDIA МЕДИА MEDIA MEДIA MEDIA МЕДИА MEDIA MEДIA MEDIA МЕДИА
              MEDIA MEДIA MEDIA МЕДИА MEDIA MEДIA
            </p>
          </div>
          <div class="slide-line">
            <p class="second-line">
              &nbspPARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY
              PARTY PARTY PARTY PARTY PARTY PARTY
            </p>
          </div>
          <div class="slide-line">
            <p class="third-line">
              &nbspMINSK МИНСК МИНСК MINSK МИНСК MINSK МИНСК МИНСК MINSK МИНСК
              MINSK МИНСК МИНСК MINSK МИНСК MINSK МИНСК МИНСК MINSK МИНСК
            </p>
          </div>
        </div>

        <div class="section">
          <div class="arrows">
            <div class="arrow-left"></div>
            <div class="arrow-center"></div>
          </div>
          <div class="video"></div>
          <div class="">
            <div class="button">
              <a href="#" class="buy-ticket">Купить билет</a>
            </div>
            <!-- <div class="tabs">
              <div class="tabs__container">
                <div class="tabs__logo">MEDIA<br />PARTY</div>
                <ul class="tabs__items">
                  <li class="tabs__item">
                    <a href="#">Главная</a>
                  </li>
                  <li class="tabs__item">
                    <a href="#">Что будет?</a>
                  </li>
                  <li class="tabs__item">
                    <a href="#">Для кого?</a>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <div class="main-swiper">
        <div class="above-screen"></div>
        <div class="swiper-wrapper main-wrapper">
          <div class="swiper-slide main-slide">
            <div class="pop-up">
              <div class="pop-up__inner">
                <div class="pop-up__content">
                  <div class="flex-wrapper">
                    <div class="pop-up-titles">
                      <span class="pop-up__title">9 ИЮНЯ 2023</span>
                      <span class="pop-up__title_right">Пятница</span>
                    </div>

                    <div class="accents">
                      <div class="accent accent-left">
                        event-пространство Бетон
                      </div>
                      <div class="accent accent-right">20:00 — 00:00</div>
                    </div>

                    <div class="smile-swiper smile-swiper_hidden">
                      <div class="swiper-wrapper smile-wrapper">
                        <div class="swiper-slide">
                          <div class="slider__container">
                            <img
                              src="{{ url_for('static', filename='images/face.png') }}"
                              alt="face"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slider__container">
                            <img
                              src="{{ url_for('static', filename='images/hand.png') }}"
                              alt="face"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slider__container">
                            <!-- <img src="/images/face.png" alt="face" /> -->
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slider__container"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slider__container"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slider__container">
                            <img
                              src="{{ url_for('static', filename='images/face.png') }}"
                              alt="face"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="swiper swiper-inner swiper-inner_hidden">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide pop-up-description">
                          Приветствуем вас на<br />вечеринке "StarStudded
                          Night"<br />
                          - событии, специально
                        </div>
                        <div class="swiper-slide pop-up-description">
                          созданном для медийных личностей,<br />включая
                          предпринимателей,<br />ведущих, артистов и блоггеров.
                        </div>
                        <div class="swiper-slide pop-up-description">
                          Погрузитесь в мир гламура и<br />известности на самой
                          горячей<br />
                          вечеринке сезона!
                        </div>
                        <div class="swiper-slide pop-up-description">
                          Приветствуем вас на вечеринке<br />"StarStudded Night"
                          - событии,<br />
                          специально
                        </div>
                        <div class="swiper-slide pop-up-description">
                          созданном для медийных личностей,<br />включая
                          предпринимателей,<br />
                          ведущих, артистов и блоггеров.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex-wrapper wrapper-to-change wrapper_active">
                    <div class="button__container item_hidden">
                      <a href="#" class="buy-ticket">Купить билет</a>
                    </div>
                    <img
                      class="smiles-img smiles_hidden"
                      src="{{ url_for('static', filename='images/smiles.png') }}"
                      alt="smiles"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="main main_hidden">
        <div class="section__titles">
          <p class="main-title">ЧТО БУДЕТ?</p>
          <p class="second-title">Это будет что-то!</p>
        </div>
        <div class="main__container">
          <div class="main__item">
            <div class="main__item_bg bg_1">
              <!-- <div class="main__item_img img_1"></div> -->
              <img
                src="{{ url_for('static', filename='images/bg_1.png') }}"
                alt=""
                class="main__item_img"
              />
            </div>

            <div class="main__item_title item_title_1">Сильный нетворкинг</div>

            <div class="main__item_text item_text_1">
              На вечеринке будут сильнейшие медийные люди Беларуси. Одно
              знакомство или сделка полностью окупит Ваш билет
            </div>
          </div>
          <div class="main__item">
            <div class="main__item_bg bg_2">
              <!-- <div class="main__item_img img_2"></div> -->
              <img
                src="{{ url_for('static', filename='images/bg_2.png') }}"
                alt=""
                class="main__item_img"
              />
            </div>

            <div class="main__item_title item_title_2">Крутая музыка</div>

            <div class="main__item_text item_text_2">
              Мы подготовили плейлист, который поможет раскрепоститься и ни о
              чем не думать
            </div>
          </div>
          <div class="main__item">
            <div class="main__item_bg bg_3">
              <!-- <div class="main__item_img img_3"></div> -->
              <img
                src="{{ url_for('static', filename='images/bg_3.png') }}"
                alt=""
                class="main__item_img"
              />
            </div>

            <div class="main__item_title item_title_3">
              Конкурсы и<br />сюжетные игры
            </div>

            <div class="main__item_text item_text_3">
              Сценарий прописан на все 4 часа. Поэтому никто не останется без
              новых знакомств и улыбки до ушей
            </div>
          </div>
          <div class="main__item">
            <div class="main__item_bg bg_4">
              <!-- <div class="main__item_img img_4"></div> -->
              <img
                src="{{ url_for('static', filename='images/bg_4.png') }}"
                alt=""
                class="main__item_img"
              />
            </div>

            <div class="main__item_title item_title_4">
              Шикарные<br />фотозоны
            </div>

            <div class="main__item_text item_text_4">
              Мы позаботимся, чтобы у Вас остались качественные фотографии после
              вечеринки
            </div>
          </div>
          <div class="main__item">
            <div class="main__item_bg bg_5">
              <!-- <div class="main__item_img img_5"></div> -->
              <img
                src="{{ url_for('static', filename='images/bg_5.png') }}"
                alt=""
                class="main__item_img"
              />
            </div>

            <div class="main__item_title item_title_5">Дресс-код</div>

            <div class="main__item_text item_text_5">
              Разрешены только черные и белые вещи. Можно добавить яркий
              акцентный цвет с помощью аксессуаров
            </div>
          </div>
        </div>
        <div class="photos">
          <img
            class="photo__item"
            src="{{ url_for('static', filename='images/photo_1.png') }}"
          />
          <img
            class="photo__item"
            src="{{ url_for('static', filename='images/photo_2.png') }}"
          />
          <img
            class="photo__item"
            src="{{ url_for('static', filename='images/photo_3.png') }}"
          />
          <img
            class="photo__item"
            src="{{ url_for('static', filename='images/photo_3.png') }}"
          />
        </div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="{{ url_for('static', filename='test.js') }}"></script>
  </body>
</html>
