<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediaParty | Минск | 9 июня</title>
    <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link
      rel="preload"
      as="image"
      href="{{ url_for('static', filename='images/statue.png') }}"
    />
    <link
      rel="preload"
      as="image"
      href="{{ url_for('static', filename='images/media-party.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='test.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="first-screen">
        <div class="sliders">
          <div class="slide-line">
            <p class="first-line">
              &nbspMEDIA МЕДИА MEDIA MEДIA MEDIA МЕДИА MEDIA MEДIA MEDIA МЕДИА
              MEDIA MEДIA MEDIA МЕДИА MEDIA MEДIA
            </p>
          </div>
          <div class="slide-line">
            <p class="second-line">
              &nbspPARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY
              PARTY PARTY PARTY PARTY PARTY PARTY
            </p>
          </div>
          <div class="slide-line">
            <p class="third-line">
              &nbspMINSK МИНСК МИНСК MINSK МИНСК MINSK МИНСК МИНСК MINSK МИНСК
              MINSK МИНСК МИНСК MINSK МИНСК MINSK МИНСК МИНСК MINSK МИНСК
            </p>
          </div>
        </div>
        <div class="section">
          <div class="arrows">
            <div class="arrow-left"></div>
            <div class="arrow-center"></div>
            <p class="arrow-text">
              Листай, чтобы узнать больше, или сразу покупай билет!
            </p>
          </div>
          <div class="video"></div>
          <div class="flex-bottom"></div>
        </div>
      </div>
      <div class="button">
        <a href="#" class="buy-ticket">Купить билет</a>
      </div>
      <div class="main-swiper">
        <div class="above-screen above-screen_hidden"></div>
        <div class="swiper-wrapper main-wrapper">
          <div class="swiper-slide main-slide">
            <div class="pop-up">
              <div class="pop-up__inner">
                <div class="pop-up__content">
                  <div class="flex-wrapper">
                    <div class="pop-up-titles">
                      <span class="pop-up__title">9 ИЮНЯ 2023</span>
                      <span class="pop-up__title_right">Пятница</span>
                    </div>
                    <div class="accents">
                      <div class="accent accent-left">
                        event-пространство Бетон
                      </div>
                      <div class="accent accent-right">20:00 — 00:00</div>
                    </div>
                    <img
                      class="statue"
                      src="{{ url_for('static', filename='images/statue.png') }}"
                      alt="statue"
                    />
                    <div class="overflow-block"></div>
                    <div class="swiper swiper-inner swiper-inner_hidden">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide pop-up-description">
                          <div class="swiper-slide_inner">
                            Первое международное<br />
                            influence-событие в Беларуси<br />
                            для блогеров, журналистов,<br />
                            телеведущих, музыкантов и<br />
                            владельцев бизнеса
                          </div>
                        </div>
                        <div class="swiper-slide pop-up-description">
                          <div class="swiper-slide_inner">
                            Концепция вечеринки:<br />#золотаямолодежь<br />#newmoney<br />
                            #премияMediaParty<br />#нетворкинг
                          </div>
                        </div>
                        <div class="swiper-slide pop-up-description">
                          <div class="swiper-slide_inner">
                            Погрузись в мир гламура и<br />известности на самой
                            горячей<br />вечеринке сезона, где 1 знакомство<br />
                            полностью окупит твой билет!<br />Листай, чтобы
                            узнать больше
                          </div>
                        </div>
                        <div class="swiper-slide pop-up-description">
                          <div class="swiper-slide_inner">
                            Первое международное<br />
                            influence-событие в Беларуси<br />
                            для блогеров, журналистов,<br />
                            телеведущих, музыкантов и<br />
                            владельцев бизнеса
                          </div>
                        </div>
                        <div class="swiper-slide pop-up-description">
                          <div class="swiper-slide_inner">
                            Концепция вечеринки:<br />#золотаямолодежь<br />#newmoney<br />
                            #премияоскар<br />#нетворкинг
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex-wrapper wrapper-to-change wrapper_active">
                    <div class="button__container item_hidden">
                      <a id="click" href="#" class="buy-ticket">Купить билет</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="main main_hidden">
        <div class="section__titles">
          <p class="main-title">ЧТО БУДЕТ?</p>
          <p class="second-title">Это будет что-то!</p>
        </div>
        <div id="main__container" class="main__container">
          <div class="main__item main__item_to-hide">
            <div class="main__item_bg bg_1">
              <img
                src="{{ url_for('static', filename='images/bg_1.png') }}"
                alt=""
                class="main__item_img"
              />
            </div>
            <div class="main__item_title item_title_1">
              Сильный<br />нетворкинг
            </div>
            <div class="main__item_text item_text_1">
              На вечеринке будут сильнейшие медийные люди Беларуси и России. Одно
              знакомство или сделка полностью окупит твой билет
            </div>
          </div>
          <div class="main__item main__item_to-hide solo__container">
            <div class="main__item_text item_text_1 main__item_solo">
              Кстати, мы подготовили специальную комфортную программу, чтобы
              каждый участник гарантированно ушел с новыми знакомствами
            </div>
          </div>
          <img
            src="{{ url_for('static', filename='images/media-party.png') }}"
            alt="party"
            class="media-party"
          />
          <div class="main__item main__item_to-hide">
            <div class="main__item_bg bg_2">
              <img
                src="{{ url_for('static', filename='images/bg_2.png') }}"
                alt=""
                class="main__item_img"
              />
            </div>
            <div class="main__item_title item_title_2">
              Мастер-класс от<br />блогеров
            </div>
            <div class="main__item_text item_text_2">
              «Личный бренд — высокий чек»
            </div>
          </div>
          <div id="bg_3" class="main__item main__item_to-hide">
            <div class="main__item_bg bg_3">
              <img
                src="{{ url_for('static', filename='images/bg_3.png') }}"
                alt=""
                class="main__item_img"
              />
            </div>
            <div class="main__item_title item_title_3">
              ПРЕМИЯ<br />MEDIA PARTY
            </div>
            <div class="main__item_text item_text_3">
              Интервью, красная дорожка, подарки от спонсоров
            </div>
          </div>
          <div class="awards">
            <p class="awards__main-title">Список Премий:</p>
            <div class="award__ol">
              <p class="awards__item">1. “Лучший Анонс”</p>
              <p class="awards__item">2. “Креативный наряд”</p>
              <p class="awards__item">3. “Super сторис”</p>
              <p class="awards__item">4. “Король нетворкинга”</p>
              <p class="awards__item">5. “Питомец в Instagram”</p>
            </div>
            <p class="awards__title">
              За некоторые Премии придётся побороться еще до начала мероприятия,
              а за остальные — уже в день вечеринки
            </p>
          </div>
          <img
            id="party"
            src="{{ url_for('static', filename='images/media-party.png') }}"
            alt="party"
            class="media-party"
          />
          <div id="bg_4" class="main__item main__item_to-hide">
            <div class="main__item_bg bg_4">
              <img
                src="{{ url_for('static', filename='images/bg_4.png') }}"
                alt=""
                class="main__item_img"
              />
            </div>
            <div class="main__item_title item_title_4">
              Шикарные<br />фотозоны
            </div>
            <div class="main__item_text item_text_4">
              Мы позаботимся, чтобы у Вас остались качественные фотографии после
              вечеринки
            </div>
          </div>
          <div class="bg_5_container">
            <div id="bg_5" class="main__item main__item-scroll">
              <div class="bg_5_animation"></div>
              <div class="bg_5_scroll">
                <div class="main__item_bg bg_5">
                  <img
                    src="{{ url_for('static', filename='images/bg_5.png') }}"
                    alt=""
                    class="main__item_img"
                  />
                </div>
                <div class="main__item_title item_title_5">Дресс-код</div>
                <div class="main__item_text item_text_5">
                  Разрешены только черные и белые вещи. Можно добавить яркий
                  акцентный цвет с помощью аксессуаров
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll"></div>
        <div class="photos">
          <img
            class="photo__item photo__item_1"
            src="{{ url_for('static', filename='images/photo_1.png') }}"
          />
          <img
            src="{{ url_for('static', filename='images/party-above.png') }}"
            class="img-above"
          />
          <img
            class="photo__item photo__item_2"
            src="{{ url_for('static', filename='images/photo_2.png') }}"
          />
          <img
            class="photo__item photo__item_3"
            src="{{ url_for('static', filename='images/photo_3.png') }}"
          />
          <img
            id="last-photo"
            class="photo__item photo__item_4"
            src="{{ url_for('static', filename='images/photo_4.png') }}"
          />
        </div>
      </main>

      <main class="photo-main">
        <div class="photo-main__container">
          <section class="photo-section">
            <div class="photo__titles">
              <p class="photo__title_1">Для кого</p>
              <p class="photo__title_2 photo__title_2_content">MEDIA PARTY</p>
            </div>
            <img
              src="{{ url_for('static', filename='images/phone.png') }}"
              alt=""
              class="photo-section__img"
            />
            <p class="photo__subtitle">1. Для блогеров</p>
            <p class="photo__description">
              Отдохнуть + попасть в СМИ (на телек/радио) + получить заказ на
              рекламу от бизнеса
            </p>
            <div class="photo__info">
              <div class="photo__line"></div>
              <div class="line-text">EASY</div>
            </div>
            <img
              src="{{ url_for('static', filename='images/micro.png') }}"
              alt=""
              class="photo-section__img"
            />
            <p class="photo__subtitle">2. Для артистов</p>
            <p class="photo__description">
              Познакомиться с крутыми блогерами + попасть на ТВ + наконец-то
              полностью расслабиться в комфортном окружении
            </p>
            <div class="photo__info">
              <div class="photo__line"></div>
              <div class="line-text">НА MEDIA PARTY</div>
            </div>
            <img
              src="{{ url_for('static', filename='images/pen.png') }}"
              alt=""
              class="photo-section__img"
            />
            <p class="photo__subtitle">3. Для СМИ</p>
            <p class="photo__description">
              Найти блогеров для своих рубрик + познакомиться с
              предпринимателями + хорошо отдохнуть в окружении с общими
              интересами
            </p>
            <div class="photo__description_info">
              *первая и единственная вечеринка для СМИ, не считая корпоративов
              :))
            </div>
            <div class="photo__info">
              <div class="photo__line"></div>
              <div class="line-text">9 ИЮНЯ</div>
            </div>
            <img
              src="{{ url_for('static', filename='images/case.png') }}"
              alt=""
              class="photo-section__img"
            />
            <p class="photo__subtitle subtitle_markered">
              4. Для владельцев бизнеса
            </p>
            <p class="photo__description">
              Познакомиться с инфлюенсерами и СМИ для продвижения своего
              продукта + прокачать личный бренд + отдохнуть
            </p>
            <div class="photo__info">
              <div class="photo__line"></div>
              <div class="line-text">20:00</div>
            </div>
            <div class="photo__info_bottom">
              <div class="photo__line photo__line_top"></div>
              <div class="photo__line photo__line_bottom"></div>
              <div class="text-bottom_left">
                Не забывайте, что именно на таких мероприятиях часто находят
                вторую половинку с общими интересами и похожим графиком :))
              </div>
            </div>
          </section>
          <div id="scroll-video" class="scroll-video">
            <div class="colored-block"></div>
            <video
              playsinline
              preload="yes"
              autoplay
              loop
              muted
              type="video/mp4"
              class="main-video"
              src="{{ url_for('static', filename='images/video.mp4') }}"
            ></video>
          </div>
          <div class="colored-block-revers"></div>
          <div
            style="margin-left: 0px; margin-right: 0px"
            class="button__container button__container_active"
          >
            <a id="click" href="#" class="buy-ticket">Купить билет</a>
          </div>
          <div class="photo__titles">
            <p class="photo__title_1">Уже идут на</p>
            <p class="photo__title_2 photo__title_2_marked">MEDIA PARTY</p>
          </div>
          <div class="profiles">
            <div class="profile">
              <div class="profiles__hr"></div>
              <div class="profile__content">
                <img
                  src="{{ url_for('static', filename='images/profile_1.png') }}"
                  alt="photo"
                  class="profile__img"
                />
                <div class="">
                  <p class="profile__nickname">@r.o.mir</p>
                  <p class="profile__info">Видеоблогер, продюсер</p>
                </div>
              </div>
            </div>
            <div class="profile">
              <div class="profiles__hr"></div>
              <div class="profile__content">
                <img
                  src="{{ url_for('static', filename='images/profile_2.png') }}"
                  alt="photo"
                  class="profile__img"
                />
                <div class="">
                  <p class="profile__nickname">@belozorovaa</p>
                  <p class="profile__info">Леся Атлант, видеоблогер</p>
                </div>
              </div>
            </div>
            <div class="profile">
              <div class="profiles__hr"></div>
              <div class="profile__content">
                <img
                  src="{{ url_for('static', filename='images/profile_3.png') }}"
                  alt="photo"
                  class="profile__img"
                />
                <div class="">
                  <p class="profile__nickname">@maxi_musaev</p>
                  <p class="profile__info">
                    Блогер, Ютуб 1.2М<br />Тик Ток 3.4М
                  </p>
                </div>
              </div>
            </div>
            <div class="profile">
              <div class="profiles__hr"></div>
              <div class="profile__content">
                <img
                  src="{{ url_for('static', filename='images/profile_4.png') }}"
                  alt="photo"
                  class="profile__img"
                />
                <div class="">
                  <p class="profile__nickname">@ayazikme</p>
                  <p class="profile__info">Блогер, Ютуб 2.5М<br />Тик Ток 3М</p>
                </div>
              </div>
            </div>
          </div>
          <section class="author">
            <p class="author__title">Контакты</p>
            <div style="margin-bottom: 16px" class="profile">
              <div class="profiles__hr profiles__hr_orange"></div>
              <div class="profile__content">
                <img
                  src="{{ url_for('static', filename='images/profile_5.png') }}"
                  alt="photo"
                  class="profile__img"
                />
                <div class="">
                  <p class="profile__nickname">Стюша Тайм</p>
                  <p class="profile__info">Креативный ивент-менеджер</p>
                  <a class="profile__phone" href="tel:+375297538860"
                    >+375 (29) 753 - 88 - 60</a
                  >
                </div>
              </div>
            </div>
            <div class="author__info">
              <div class="author__container">
                <div class="awards author__inner">
                  <p class="author__info_item">
                    Приходи к нам на MEDIA PARTY, будет круто :) Мы очень
                    стараемся сделать так, чтобы все гости расслабились,
                    кайфанули и ушли с новыми классными знакомыми!
                  </p>
                </div>
                <div class="awards author__inner">
                  <p class="author__info_item">
                    Не забудь сделать креативный анонс мероприятия и придумать
                    костюм, чтобы побороться за торжественное вручение Премии на
                    сцене перед 150-ю гостями
                  </p>
                </div>
                <div class="awards author__inner">
                  <p class="author__info_item">
                    Покупай свой билет безопасно на kvitki.by — просто нажми на
                    кнопку ниже :) До встречи 9 июня!
                  </p>
                </div>
              </div>
              <div
                style="margin-bottom: 16px; margin-top: 24px"
                class="profile"
              >
                <div class="profiles__hr profiles__hr_orange"></div>
                <div class="profile__content">
                  <img
                    src="{{ url_for('static', filename='images/profile_6.png') }}"
                    alt="photo"
                    class="profile__img"
                  />
                  <div class="">
                    <p class="profile__nickname">Малашук Вероника</p>
                    <p class="profile__info">Генеральный ивент-менеджер</p>
                    <a class="profile__phone" href="tel:+375297538860"
                      >+375 (29) 311 - 87 - 38</a
                    >
                  </div>
                </div>
              </div>
              <div
                style="margin-left: 0px; margin-right: 0px"
                class="button__container author__button"
              >
                <a id="click" href="#" class="buy-ticket">Купить билет</a>
              </div>
              <p class="author__descriprion">
                P.S. При покупке билета ты попадаешь в закрытый чат, где уже
                более 120 медийных личностей Беларуси
              </p>
              <img
                class="author__director media-party"
                src="{{ url_for('static', filename='images/media-party.png') }}"
                alt="photo"
              />
              <p class="author__last-info">
                ИП Пряхин Тимур Османович<br />
                УНП 191179156<br />2023
              </p>
            </div>
          </section>
        </div>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='test.js') }}"></script>
  </body>
</html>
